* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bordo: #A6535A;
    --fondo: #E6AD97;
    --lila: #BF6991;
    --blanco: #fff;
    --titulos: #767DA6;
    --lilaClarito: #FFBFDD;
    --subtitulos: #568C8C;

}

.accordion-button {
    color: var(--lilaClarito);
    background-color: var(--titulos);
}

.accordion-item {
    color: var(--lilaClarito);
    background-color: var(--titulos);
}



body {
    background-color: var(--fondo);
    font-family: 'Akshar', sans-serif;
}


/* Empieza Nav */

.nav {
    background-color: var(--bordo);
}

.navbar-brand img {
    max-width: 1.8em;
}

.collapse li {
    padding: 1em;
}

.collapse a {
    text-decoration: none;
    color: #fff;
}

.collapse a:hover {
    border-radius: .8em;
    background-color: var(--fondo);
    transition: all .6s;
    color: var(--bordo);
}

.carrito img {
    max-width: 2em;
}

/* Empieza main */



.container h1 {
    color: var(--lila);
}


/* Empieza Muebles */



.separador {
    height: 6rem;
    background-color: var(--bordo);
    display: flex;
    align-items: center;
    justify-content: center;
}

.separador h2 {
    color: var(--blanco);
}



.imgMuebles {
    max-width: 15em;
}


/* Empieza nosotros */


.bannerNosotros {
    width: 100%;
}



/* Empieza Empresa B */

.separador img {
    max-width: 3em;
}

.container h2 {
    color: var(--subtitulos);
}


.bubbles {
    margin-top: 2em;
}

.bubbles h3 {
    margin-bottom: 1em;
    color: var(--bordo);
}

.bubbles img {
    max-width: 3em;
    margin-bottom: 1em;
}



/* Empieza Contacto */


.formularioContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
}

.formularioContacto h2 {
    color: var(--bordo);
}

.nombreApellido {
    padding-top: .6em;
    display: flex;
    gap: 0 .4em;
    justify-content: space-evenly;
}

.controls {
    border: none;
    width: 100%;
    background: #fff;
    padding: 1vh;
    border-radius: .6rem;
    margin-bottom: 1vh;
    font-size: 1rem;
}

.boton {
    width: 10em;
    background: var(--subtitulos);
    border: none;
    padding: .6em;
    margin-top: .5em;
    color: white;
    font-size: 0.8em;
    border-radius: 1.5em;
}

.iframeMaps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iframeMaps h2 {
    padding-bottom: .6em;
    color: var(--bordo);
}

/* Empieza Footer */

.footer {
    background-color: var(--bordo);
}


.row h4 {
    color: var(--lilaClarito);
}

.contactoFooter ul {
    list-style: none;
    color: var(--blanco);
}

.contactoFooter a {
    text-decoration: none;
    color: var(--blanco);
}

.contactoFooter a:hover {
    color: var(--fondo);
}

.tiendaOnline ul {
    list-style: none;
    color: var(--blanco);
}

.tiendaOnline a {
    text-decoration: none;
    color: var(--blanco);
}

.tiendaOnline a:hover {
    color: var(--fondo);
}

.enlacesRapidos ul {
    list-style: none;
}

.enlacesRapidos a {
    text-decoration: none;
    color: var(--blanco);
}

.enlacesRapidos a:hover {
    color: var(--fondo);
}

.redes {
    display: flex;
    gap: 2em 4em;
    justify-content: center;
}

.redes img {
    max-width: 3em;
}

.row {
    width: 100% !important;
}

/*

/* ========================ENVIADO========================== */

.enviado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4em 2em;
    gap: 2em 0;
}

.enviado h1 {
    color: var(--lila);
    font-size: 4rem;
}

.enviado h2 {
    color: var(--lila);
    font-size: 2.5em;
    text-align: center;
}

.enviado a {
    background-color: var(--bordo);
    color: var(--blanco);
    text-align: center;
    font-size: 1em;
    padding: 1em;
    border-radius: 1em;
    text-decoration: none;
}

.enviado a:hover {
    background-color: var(--lila);
    color: var(--fondo);

}



/* ========================RESPONSIVE========================== */


/*TABLET*/

@media (max-width: 800px) {

    /* ------->Footer------- */

    .redes {
        flex-wrap: wrap;
    }

}


/*MOBILE X-SMALL*/

@media (max-width: 350px) {

    /* ------->Contacto------- */

    .formularioContacto {
        width: 15em;
    }

}